{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}
    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet"/>
    {% endblock %}

{% block body %}
    <header>
        <div class="container-fluid">
            <nav class="navbar">
                <span class="a"> <img src="{{ asset('image/plane.png') }}"  class="img"/> Profile</span>
                <!-- <form class="form-inline"> -->
                <a href="{{ path('logout1') }}" class="float-right btn btn-danger btn-sm">LOGOUT</a>
                <!-- </form>          -->
            </nav>
        </div> 
    </header>
    <main>
        <hr>

        <div class="container bootstrap snippet">
                        {# <?php
                        while ($rows = mysqli_fetch_array($result))
                            {
                                
                        ?> #}
                  

            <div class="row">
                <div class="col-sm-10"><h1>{{ users.username }}</h1></div>
                    
                <div class="col-sm-2"><a href = "{{ path('app_postjob') }}"><i class="fa fa-plus-square" style="font-size:48px;color:green;float:right;" title="create a new post"></i></a></div>
            </div>

            <div class="row">
            <div class="col-sm-3"><!--left col-->
                <div class="text-center">
                    <img src="{{  asset('user_image/' ~ users.image)}}" style="color:blue;width:200px;height:200px;" class="avatar img-circle img-thumbnail" alt="avatar"/>
                    {# <img src="{{ asset('image/rohit.jpg')  }}" style="color:blue;width:200px;height:200px;" class="avatar img-circle img-thumbnail" alt="avatar"/> #}
                    <!-- <?php //echo  base64_encode($rows['image']); ?> -->
                    
                </div></hr>            
            </div><!--/col-3-->
            <div class="col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <!-- <form class="form" action="##" method="post" id="registrationForm"> -->
                    
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="fullname"><h4>Full Name</h4></label>
                                <input type="" class="form-control" name="fullname" id="fullname" value="{{ users.fullname }}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            
                            <div class="col-xs-6">
                                <label for="email"><h4>Email</h4></label>
                                <input type="email" class="form-control" name="email" id="email" value="{{ users.email }}">
                            </div>
                        </div>
                        <div class="form-group">
                            
                            <div class="col-xs-6">
                                <label for="country"><h4>Country</h4></label>
                                <input type="text" class="form-control" name="country" id="country" value="{{ users.country }}">
                            </div>
                        </div>
        
                        <div class="form-group">
                        
                            <div class="col-xs-6">
                                <label for="state"><h4>State</h4></label>
                                <input type="text" class="form-control" name="state" id="state" value="{{ users.state }}">
                            </div>
                        </div>
                        <div class="form-group">
                        
                            <div class="col-xs-6">
                                <label for="city"><h4>City</h4></label>
                                <input type="text" class="form-control" name="city" id="city" value="{{ users.city }}">
                            </div>
                        </div>
                        <div class="form-group">
                        
                            <div class="col-xs-6">
                                <label for="gender"><h4>Gender</h4></label>
                                <input type="text" class="form-control" name="gender" id="gender" value="{{ users.gender }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="phone"><h4>Contact</h4></label>
                                <input type="text" class="form-control" name="phone" id="phone" value="{{ users.contact }}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>

                                    <a href="{{ path('edit_profile', {id: users.id }) }}"><button type="button" class="btn btn-primary">EDIT PROFILE</button></a>
                                    
                            </div>
                        </div>
                     
                        {# <?php
        
                            }
                            ?>  #}
                    <!-- </form> -->
                     
                        <hr>
                
                    </div><!--/tab-pane-->
                </div> 
            </div> 
        </div>    
       
        <div>
             <a href="{{ path('all_postjob') }}"class="allpost"><button class="btn btn-primary" type="button">ALL POST</button></a>
              
              
        </div> 
    </main> 
    <div class="footer">
        <p>footer</p>
        <p>&copy;2021 Nadine Coelho | All Rights Reserved</p>
    </div> 


{% endblock %}
